{% extends 'base.html' %}

<!-- {% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('dashboard.dashboard') }}">New</a>
  {% endif %}
{% endblock %} -->

{% block content %}

    <article class="dashboard">
      <header>
        <div>
          <h1>Dashboard</h1>
          {% for file in img_files %}
          <div>
            <img src={{url_for('static', filename=file) }} type="img/png" width="800" height="500">
          </div>
          {% endfor %}
        </div>
      </header>
    </article>


{% endblock %}